.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: #1b2d50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.image-slider-main-container{
  width: 100vw;
  height: 500px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2f54a0;
}

